# iterables

- anything that has a .iter() method
- list, string, dictionary, file connections

# iterator

-  produces next value with next()
- unpack all iterations with *

In [0]:
s = 'word'
iterator = iter(s)

print(next(iterator))
print(next(iterator))
print(next(iterator))

w
o
r

In [0]:
iterator = iter(s)
print(*iterator)

w o r d

In [0]:
next(iter(range(5)))

0

In [0]:
'''
Recall that range() doesn't actually create the list; instead, it creates a range object with an iterator that produces the values 
until it reaches the limit (in the example, until the value 4). If range() created the actual list, calling it with a value of 10^100 
may not work, especially since a number as big as that may go over a regular computer's memory. The value 10100 is actually what's called a 
Googol which is a 1 followed by a hundred 0s. That's a huge number!
'''
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values
for i in range(3):
    print(i)


# Create an iterator for range(10 ** 100): googol
googol = iter(range(10**100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
0
1
2
0
1
2
3
4

In [0]:
'''
There are also functions that take iterators and iterables as arguments. 
For example, the list() and sum() functions return a list and the sum of elements, respectively.
'''


# Create a range object: values
values = range(10,21)

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

range(10, 21)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
165

### zip and enumerate

In [0]:
x = enumerate(['aysha','kamal','tanny'])
x

In [0]:
list(x)

[(0, 'aysha'), (1, 'kamal'), (2, 'tanny')]

In [0]:
print(*x)

(0, 'aysha') (1, 'kamal') (2, 'tanny')

In [0]:
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

# Unpack and print the tuple pairs
for index1,value1 in enumerate(mutants):
    print(index1, value1)

# Change the start index
for index2,value2 in enumerate(mutants,start=1):
    print(index2, value2)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]
0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde
1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pryde

In [0]:
me = ['aysha','kamal','tanny']
her = ['habiba','kamal','babu']

x = zip(me,her)

x

In [0]:
# list(x)

[('aysha', 'habiba'), ('kamal', 'kamal'), ('tanny', 'babu')]

In [0]:
x = zip(me,her)
print(*x)  #notworking when unpacked in the list()

('aysha', 'habiba') ('kamal', 'kamal') ('tanny', 'babu')

In [0]:
x = zip(me,her)

me2,her2 = zip(*x)

In [0]:
me2, her2

(('aysha', 'kamal', 'tanny'), ('habiba', 'kamal', 'babu'))

# chunking large data

In [0]:
for chunk in pd.read_csv('something.csv',chunksize=100):
    print(huh)

# list comprehension

-  [__expression__ _iterator_ in _iterable_]
- [__expression__ forloopClause forloopClause ...] : [(num1,num2) for num1 in nums1 for num2 in nums2]
-  [__expression__ _iterator_ in _iterable_ __conditionals__] : [x*x for x in nums if x%2==0]
-  [__expression__  __conditionals(with else)__  _iterator_ in _iterable_] : [x*x for x in nums if x%2==0]

In [0]:
ls=[1,2,3,4,5,6,67,8]

In [2]:
[x*x for x in ls if x%2==0]

[4, 16, 36, 64]

In [4]:
[x*x if x%2==0 else 0 for x in ls]

[0, 4, 0, 16, 0, 36, 0, 64]

# dictionary comprehension

- {} instead of []
- {key:val for key,val in nums}

In [5]:
{'num'+str(i):i for i in ls}

{'num1': 1,
 'num2': 2,
 'num3': 3,
 'num4': 4,
 'num5': 5,
 'num6': 6,
 'num67': 67,
 'num8': 8}

# Generators:

- list comprehension, but with ( ) instead of [ ]
- doesnt create a list
- doesnt store a list in memory
- is a iterable
- that generates an item in each iteration

In [9]:
ls

[1, 2, 3, 4, 5, 6, 67, 8]

In [6]:
s=(x*x if x%2==0 else 0 for x in ls)
s

In [7]:
next(s)

0

In [8]:
next(s)

4

In [10]:
next(s)

0

# Generator Function

- produce generator objects
- instead of return, we use yeild

In [0]:
def fx(n):
    for i in range(0,n):
        yield i

In [17]:
itr = fx(7)
next(itr) , next(itr) , next(itr) , *itr

(0, 1, 2, 3, 4, 5, 6)

In [19]:
ls = [1,2,3,4,5]
rs = [3,4,68,4,1]

dict(zip(ls,rs)) , {x:y for x,y in zip(ls,rs)} ## Same

({1: 3, 2: 4, 3: 68, 4: 4, 5: 1}, {1: 3, 2: 4, 3: 68, 4: 4, 5: 1})

### dataframe from list of dicts (as opposed to dict of lists)

In [0]:
import pandas as pd

ls = [
    {'name':'aysha','age':23,'dept':'CSE'},
    {'name':'habiba','age':22,'dept':'SCDC'},
    {'name':'anis','age':22,'dept':'CSE'}
]

dc = {
    'name' : ['aysha','habiba','anis'],
    'age' : [23,22,22],
    'dept' : ['CSE', 'SCDC' , 'CSE']
}

df1 = pd.DataFrame(ls)
df2 = pd.DataFrame(dc)

In [22]:
df1.head()

   age  dept    name
0   23   CSE   aysha
1   22  SCDC  habiba
2   22   CSE    anis

In [23]:
df2.head()

     name  age  dept
0   aysha   23   CSE
1  habiba   22  SCDC
2    anis   22   CSE

## another way to plot 
- prev way : plt.scatter(x,y)

In [0]:
'''
df.plot(kind='scatter', x='col1', y='col2')
'''