# From File

1. file = open(filename, mode='r')
    text = file.read()
    file.close()
    
2. with open(filename,mode='r'):
        '''
        code within the block
        '''

--> reading Emne

In [0]:
file = open('test.txt','r')
text = file.read()
print(text[:50])
#test if file is closed
print(file.closed)
file.close()
print(file.closed)

Bangladesh, officially the People's Republic of Ba
False
True

-->  reading line by line

In [0]:
with open('test.txt','r') as file:
    print(file.readline())

Bangladesh, officially the People's Republic of Bangladesh (গণপ্রজাতন্ত্রী বাংলাদেশ Gônoprojatontri Bangladesh), is a country in South Asia. It shares land borders with India and Myanmar. Bangladesh is the 92nd-largest sovereign state in the world, with an area of 147,570 square kilometres (56,980 sq mi). It is also the world's 8th-most populous country, as well as one of its most densely-populated. Dhaka is its capital and largest city, and is also the economic, political and the cultural center of Bangladesh, followed by Chittagong, which has the country's largest port. Bangladesh forms the largest and eastern part of the Bengal region.[11] The country's geography is dominated by the Bengal delta, the largest delta in the world. The country has many rivers and 8,046 km (5,000 mi) of inland waterways. Highlands with evergreen forests are found in the northeastern and southeastern regions of the country. The country also has the longest sea beach and the largest mangrove forest in the world. The country's biodiversity includes a vast array of plants and wildlife, including the endangered Bengal tiger, the national animal.

# Flat Files: csv,txt

- flat files are basic text files, that contain records of tabular data
- can contain headers

### Why we like flat files and the Zen of Python
In PythonLand, there are currently hundreds of Python Enhancement Proposals, commonly referred to as PEPs. PEP8, for example, is a standard style guide for Python, written by our sensei Guido van Rossum himself. It is the basis for how we here at DataCamp ask our instructors to style their code. Another one of my favorites is PEP20, commonly called the Zen of Python. Its abstract is as follows:

    '''
    Long time Pythoneer Tim Peters succinctly channels the BDFL's guiding principles for Python's design into 20 aphorisms, only 19 of which have been written down.
    '''

If you don't know what the acronym BDFL stands for, I suggest that you look here. You can print the Zen of Python in your shell by typing import this into it! You're going to do this now and the 5th aphorism (line) will say something of particular interest.

In [0]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### numerical data in '' numpy ''
-- fyi : can handle only one datatype

In [0]:
import numpy as np

In [0]:
data = np.loadtxt('test.txt',delimiter=' ', skiprows=0, usecols=[0,2] , dtype=str) 
#delimiter=' ', skiprows=0, usecols=[0,2] , dtype=str -----> are optional

In [0]:
data

array([['Bangladesh,', 'the'],
       ['In', 'ancient'],
       ['Islam', 'introduced'],
       ['Bangladeshis', 'people']], dtype='<U12')

Much of the time you will need to import datasets which have different datatypes in different columns; one column may contain strings and another floats, for example. The function np.loadtxt() will freak at this. There is another function, **np.genfromtxt()**, which can handle such structures. If we pass dtype=None to it, it will figure out what types each column should be.

    '''
        data = np.genfromtxt('titanic.csv', delimiter=',', names=True, dtype=None)
    '''
Here, the first argument is the filename, the second specifies the delimiter , and the third argument names tells us there is a header. Because the data are of different types, data is an object called a structured array. Because numpy arrays have to contain elements that are all the same type, the structured array solves this by being a 1D array, where each element of the array is a row of the flat file imported. You can test this by checking out the array's shape in the shell by executing np.shape(data).

Accessing rows and columns of structured arrays is super-intuitive: to get the ith row, merely execute data[i] and to get the column with name 'Fare', execute data['Fare']

You have just used np.genfromtxt() to import data containing mixed datatypes. There is also another function **np.recfromcsv()** that behaves similarly to np.genfromtxt(), except that its default dtype is None. In this exercise, you'll practice using this to achieve the same result.

It has the defaults delimiter=',' and names=True in addition to dtype=None!

### In Pandas

- 2D labeled datastructures
- columns of potentially different datastructures
- manipulate , slice, reshape, groupby, join
- perform _statistics_

-  the DataFrame object in pandas is a more appropriate structure in which to store such data and, thankfully, we can easily import files of mixed data types as DataFrames using the pandas functions read_csv() and read_table()

In [0]:
df = pd.read_csv(filename) #header=None,nrows=5

array_ = df.values ##humm!!

In the next example:

- contains comments after the character '#'
- is tab-delimited.

Complete the sep (the pandas version of delim), comment and na_values arguments of pd.read_csv(). comment takes characters that comments occur after in the file, which in this case is '#'. na_values takes a list of strings to recognize as NA/NaN, in this case the string 'Nothing'.

In [0]:
data = pd.read_csv(file, sep='\t', comment='#', na_values='Nothing')

# Other Files
(.xlsx is not a flat because it is a spreadsheet consisting of many sheets, not a single table.)
 - excel, matlab, sas, stata , hd5
 
 
 ### Pickled file
 - native to python
 - mode='rb' = read only + binary
 - pickle files are stored in binary format, and any python stuff can be stored with it

In [1]:
#accessing current directory
import os
wd = os.getcwd()
os.listdir(wd)

['.config', 'sample_data']

### Pickling

There are a number of datatypes that cannot be saved easily to flat files, such as lists and dictionaries. If you want your files to be human readable, you may want to save them as text files in a clever manner. JSONs, which you will see in a later chapter, are appropriate for Python dictionaries.

However, if you merely want to be able to import them into Python, you can serialize them. All this means is converting the object into a sequence of bytes, or a bytestream.

In [0]:
# Import pickle package
import pickle

# Open pickle file and load data: d
with open('data.pkl', 'rb') as file:
    d = pickle.load(file)

# Print d
print(d)

# Print datatype of d
print(type(d))

### Excel sheets

In [0]:
import pandas as pd

data = pd.ExcelFile(filename)

print(data.sheet_names)

df1 = data.parse(sheet1) #sheet name as a string

df2 = data.parse(0) #sheet index as a float

- Parse the first sheet by index. In doing so, skip the first row of data and name the columns 'Country' and 'AAM due to War (2002)' using the argument names. The values passed to skiprows and names all need to be of type list.

- Parse the second sheet by index. In doing so, parse only the first column with the usecols parameter, skip the first row and rename the column 'Country'. The argument passed to usecols also needs to be of type list.

In [0]:
# Parse the first sheet and rename the columns: df1
df1 = xls.parse(0 , skiprows=[0], names=['Country','AAM due to War (2002)'])

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column: df2
df2 = xls.parse(1, usecols=[0], skiprows=[0], names=['Country'])

# Print the head of the DataFrame df2
print(df2.head())

### SAS/Stata files

1. SAS - statistical analysis system : standard file type for statistical analysis
    - file extension = .sas7bdat , .sas7bcat
    - with : from sas7bdat import SAS7BDAT
2. stata file :
    - extension = .dta
    - with pandas

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

from sas7bdat import SAS7BDAT

with SAS7BDAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

print(df_sas.head())

In [0]:
import pandas as pd

# Load Stata file into a pandas DataFrame: df
df = pd.read_stata('disarea.dta')

print(df.head())

### HDF5 file

- heirarchical data format version 5
- large quantities of numerical data
- 100s of GB or even TBs
- hdf5 can scale upto exabytes
- can explore the heirarchy of the file with .keys()

In [0]:
# Import packages
import numpy as np
import h5py

# Assign filename: file
file = 'LIGO_data.hdf5'

# Load file: data
data = h5py.File(file, 'r')

# Print the datatype of the loaded file
print(type(data))

# Print the keys of the file
for key in data.keys():
    print(key)

output: 

<class 'h5py._hl.files.File'>
   
   meta
   
   quality
   
   strain

### Matlab files

- .mat files
-  scipy.io.savemat()
- scipy.io.loadmat()
- loaded as dicts
- keys = variables, values = objects assigned to the variables
- .mat contains only the list of vaiables from the matlab worspace

In [0]:
# Import package
import scipy.io

# Load MATLAB file: mat
mat = scipy.io.loadmat('albeck_gene_expression.mat')

# Print the datatype type of mat
print(type(mat))

Use the method .keys() on the dictionary mat to print the keys. Most of these keys (in fact the ones that do NOT begin and end with '__') are variables from the corresponding MATLAB environment.

# Relational Database

- postgreSQL
- MySQL
- SQLite

### creating a database engine in python

Here, you're going to fire up your very first SQL engine. You'll create an engine to connect to the SQLite database 'Chinook.sqlite', which is in your working directory. Remember that to create an engine to connect to 'Northwind.sqlite', Hugo executed the command

    '''
    engine = create_engine('sqlite:///Northwind.sqlite')
    '''
Here, 'sqlite:///Northwind.sqlite' is called the connection string to the SQLite database Northwind.sqlite. A little bit of background on the [Chinook database](https://github.com/lerocha/chinook-database): the Chinook database contains information about a semi-fictional digital media store in which media data is real and customer, employee and sales data has been manually created.

In [0]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Save the table names to a list: table_names
table_names = engine.table_names()

# Print the table names to the shell
print(table_names)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

### Query the database

- fetchall/featchmany(size=3) - > pd.DataFrame(rs.fetchall())
- with context manager as engine.connect() as con
- w/o context, con=engine.connect() ; con.execute('sql squry here') --> dont forget to close the connection

In [0]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine connection: con
con = engine.connect()

# Perform query: rs
rs = con.execute('SELECT * from Album')

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

In [0]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT LastName, Title FROM Employee')
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

### Querying with Pandas
- the power of pandas

In [0]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Album', engine)

# Print head of DataFrame
print(df.head())

### Advanced Querying : Exploiting the table relationaships

In [0]:
'''
Here, you'll perform your first INNER JOIN! You'll be working with your favourite SQLite database, 
Chinook.sqlite. For each record in the Album table, you'll extract the Title along with the Name of the Artist. 
The latter will come from the Artist table and so you will need to INNER JOIN these two tables on the ArtistID column of both.
'''

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT Title,Name FROM Album INNER JOIN Artist ON Album.ArtistID=Artist.ArtistID')
    df = pd.DataFrame(rs.fetchall())
    df.columns=rs.keys()

# Print head of DataFrame df
print(df.head())

In [0]:
# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM PlaylistTrack INNER JOIN Track on PlaylistTrack.TrackId = Track.TrackId WHERE Milliseconds < 250000',engine)

# Print head of DataFrame
print(df.head())